DB_DIALECT=mysql
DB_ROOT_PASSWORD=root
DB_USER=user
DB_PASSWORD=user123
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db_rt01_cver

DATABASE_URL=${DB_DIALECT}://${DB_ROOT_PASSWORD}:${DB_ROOT_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}